<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ljj.OnTheWay">

    <!-- 권한 지정 영역 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 네트워크 상태 확인 권한 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 와이파이 상태 확인 권한 -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 백그라운드 위치 권한 추가 -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- 포그라운드 서비스 권한 추가 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 햅틱 진동 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 부팅 후 알림 수신 -->


    <!-- 카메라 권한 추가 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!--햅틱-->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:label="온더웨이"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true" >

        <activity
            android:name="com.ljj.OnTheWay.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/NormalTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- 기본 실행 액티비티 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Firebase 메시징 기본 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel" /> <!-- 알림 채널 ID -->

        <!-- FCM 메시지 수신 서비스 등록 -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- UCropActivity 추가 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Flutter 자동 생성 파일을 위한 메타데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- 카카오 SDK 앱 키 (필요 시 주석 해제) -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="69a96da745eed8af5198d8de5d72a2eb" />



    </application>
</manifest>
