<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="OnTheWay"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- For Firebase Dynamic Link with page.link domain -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="OnTheWay.page.link"
                    android:scheme="https"/>
            </intent-filter>

            <!-- For Firebase Dynamic Link with firebaseapp.com domain -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="OnTheWay.firebaseapp.com"
                    android:scheme="https"/>
            </intent-filter>

            <!-- Default intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below. This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"
            />
<!--        <meta-data-->
<!--            android:name="com.kakao.sdk.AppKey"-->
<!--            android:value="69a96da745eed8af5198d8de5d72a2eb" />-->

    </application>
</manifest>
