<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.OnTheWay">
    <!-- 권한 지정 영역 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 네트워크 상태 확인 권한 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 와이파이 상태 확인 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 일반 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 정밀 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 백그라운드 위치 권한 -->


    <!-- 카메라 권한 추가 -->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->


    <application
        android:label="온더웨이"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true" >


        <activity
            android:name="com.example.OnTheWay.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

<!--            &lt;!&ndash; Firebase Dynamic Link (page.link 도메인) &ndash;&gt;-->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->
<!--                <data-->
<!--                    android:host="OnTheWay.page.link"-->
<!--                    android:scheme="https"/>-->
<!--            </intent-filter>-->

<!--            &lt;!&ndash; Firebase Dynamic Link (firebaseapp.com 도메인) &ndash;&gt;-->
<!--            <intent-filter android:autoVerify="true">-->
<!--                <action android:name="android.intent.action.VIEW"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <category android:name="android.intent.category.BROWSABLE"/>-->
<!--                <data-->
<!--                    android:host="OnTheWay.firebaseapp.com"-->
<!--                    android:scheme="https"/>-->
<!--            </intent-filter>-->

            <!-- 기본 실행 액티비티 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter 자동 생성 파일을 위한 메타데이터 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

        <!-- 카카오 SDK 앱 키 (필요 시 주석 해제) -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="69a96da745eed8af5198d8de5d72a2eb" />


    </application>
</manifest>
