<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZcMQnBpaOSwvUV0yIKmkri0eKStcOqh8</string>
	<key>GCM_SENDER_ID</key>
	<string>40009619030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onthewayNotebook</string>
	<key>PROJECT_ID</key>
	<string>ontheway-b2bdf</string>
	<key>STORAGE_BUCKET</key>
	<string>ontheway-b2bdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40009619030:ios:4d57185586ac9759dc8df7</string>
</dict>
</plist>